:root {
  --font: "Roboto", sans-serif;

  --color-dark: #2e2f42;
  --color-light: #ffffff;
  --color-alt: #f4f4fd;
  --color-accent: #4d5ae5;
  --color-active: #404bbf;
  --color-text-light: #e7e9fc;
  --color-text-modal: #8e8f99;
  --color-text-body: #434455;
  --color-bgd-accent: #e7e9fc;
  --color-bgd-hero: rgba(46, 47, 66, 0.7);
  --color-bgd-modal: rgba(46, 47, 66, 0.4);
  --color-bgd-valid: #31d0aa;

  --font-heavy: 900;
  --font-black: 800;
  --font-bold: 700;
  --font-medium: 500;
  --font-regular: 400;

  --font-size-h1: 56px;
  --font-size-h2: 36px;
  --font-size-h3: 20px;
  --font-size-big: 18px;
  --font-size-normal: 16px;
  --font-size-small: 12px;
}

body {
  background-color: var(--color-light);
  color: var(--color-text-body);
  font-family: var(--font);
  font-size: var(--font-size-normal);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: var(--font-size-big);
  font-weight: var(--font-black);
  letter-spacing: 0.03em;
  line-height: 1.33;
  text-transform: uppercase;
}

.logo-color {
  color: var(--color-accent);
}

.logo-dark {
  color: var(--color-dark);
}

.logo-light {
  color: var(--color-alt);
}

.nav-link,
.address-link {
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.nav-link:hover,
.address-link:hover,
.logo:hover,
.work-title:hover,
.work-text:hover,
.nav-link:focus,
.address-link:focus,
.logo:focus,
.work-title:focus,
.work-text:focus {
  color: var(--color-active);
}

.nav-link {
  color: var(--color-dark);
  font-weight: var(--font-medium);
}

.address-link {
  color: var(--color-text-body);
  font-weight: var(--font-regular);
  font-style: normal;
}

.hero,
.footer {
  background-color: var(--color-dark);
}

.hero-btn,
.hero-title {
  color: var(--color-light);
}

.hero-title {
  font-size: var(--font-size-h1);
  font-weight: var(--font-bold);
  letter-spacing: 0.02em;
  line-height: 1.07;
  text-align: center;
}

.hero-btn {
  background-color: var(--color-accent);
  font-weight: var(--font-medium);
  letter-spacing: 0.04em;
  line-height: 1.5;
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--color-active);
}

.hero-btn,
.work-btn {
  font-family: var(--font);
  font-size: var(--font-size-normal);
}

.scills-subtitle,
.team-subtitle {
  color: var(--color-dark);
  font-size: var(--font-size-h3);
  font-weight: var(--font-medium);
  letter-spacing: 0.02em;
  line-height: 1.2;
}

.team-list {
  background-color: var(--color-light);
}

.scills-text,
.team-text,
.footer-text {
  font-weight: var(--font-regular);
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.doing-title,
.team-title {
  color: var(--color-dark);
  font-size: var(--font-size-h2);
  font-weight: var(--font-bold);
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}

.team {
  background-color: var(--color-alt);
}

.team-subtitle,
.team-text {
  text-align: center;
}

.footer-text {
  color: var(--color-text-light);
}

.work-btn {
  background-color: var(--color-alt);
  color: var(--color-accent);
  font-weight: var(--font-medium);
  letter-spacing: 0.04em;
  line-height: 1.5;
  cursor: pointer;
}

.work-btn:hover,
.work-btn:focus {
  background-color: var(--color-active);
  color: var(--color-light);
}

.work-title {
  color: var(--color-dark);
  font-weight: var(--font-medium);
  letter-spacing: 0.02em;
  line-height: 1.2;
}

.work-text {
  color: var(--color-text-body);
  font-weight: var(--font-regular);
  letter-spacing: 0.02em;
  line-height: 1.5;
}