:root {
  --accent-color: #4d5ae5;
  --alt-color: #f4f4fd;
  --big-font-size: 18px;
  --body-font: Roboto, sans-serif;
  --body-text-color: #434455;
  --body-text-color-light: #e7e9fc;
  --btn-bgd-color-accent: #e7e9fc;
  --btn-bgd-color-active: #404bbf;
  --dark-color: #2e2f42;
  --font-black: 800;
  --font-bold: 700;
  --font-heavy: 900;
  --font-medium: 500;
  --font-regular: 400;
  --h1-font-size: 56px;
  --h2-font-size: 36px;
  --h3-font-size: 20px;
  --hero-bgd-color: rgba(46, 47, 66, 0.7);
  --light-color: #fff;
  --modal-bgd-color: rgba(46, 47, 66, 0.4);
  --modal-text-color: #8e8f99;
  --normal-font-size: 16px;
  --small-font-size: 12px;
  --valid-bgd-color: #31d0aa;
}
body {
  background-color: var(--light-color);
  color: var(--body-text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.logo {
  font-size: var(--big-font-size);
  font-weight: var(--font-black);
  letter-spacing: 0.03em;
  line-height: 1.33;
  text-transform: uppercase;
}
.logo-color {
  color: var(--accent-color);
}
.logo-dark {
  color: var(--dark-color);
}
.logo-light {
  color: var(--alt-color);
}
.nav-link,
.address-link {
  letter-spacing: 0.02em;
  line-height: 1.5;
}
.nav-link {
  color: var(--dark-color);
  font-weight: var(--font-medium);
}
.address-link {
  color: var(--body-text-color);
  font-style: normal;
  font-weight: var(--font-regular);
}
.hero,
.footer {
  background-color: var(--dark-color);
}
.hero-btn,
.hero-title {
  color: var(--light-color);
}
.hero-title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
  letter-spacing: 0.02em;
  line-height: 1.07;
  text-align: center;
}
.hero-btn {
  background-color: var(--accent-color);
  font-weight: var(--font-medium);
  letter-spacing: 0.04em;
  line-height: 1.5;
}
.scills-subtitle,
.team-subtitle {
  color: var(--nav-text-color);
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  letter-spacing: 0.02em;
  line-height: 1.2;
}
.scills-text,
.team-text,
.footer-text {
  font-weight: var(--font-regular);
  letter-spacing: 0.02em;
  line-height: 1.5;
}
.scills-title,
.doing-title,
.team-title {
  color: var(--nav-text-color);
  font-size: var(--h2-font-size);
  font-weight: var(--font-bold);
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}
.team {
  background-color: var(--body-bgd-color-alt);
}
.team-subtitle,
.team-text {
  text-align: center;
}
.footer-text {
  color: var(--body-text-color-light);
}
.btns {
  background-color: var(--alt-color);
  color: var(--accent-color);
  font-weight: var(--font-medium);
  letter-spacing: 0.04em;
  line-height: 1.5;
}
.btns:hover {
  background-color: var(--btn-bgd-color-active);
  color: var(--light-color);
}
.work-title {
  color: var(--dark-color);
  font-weight: var(--font-medium);
  letter-spacing: 0.02em;
  line-height: 1.2;
}
.work-text {
  color: var(--body-text-color);
  font-weight: var(--font-regular);
  letter-spacing: 0.02em;
  line-height: 1.5;
}
